# Ignore these files:
code/test.html
code/old.txt
code/problem.ipynb
code/crs_problem.ipynb
code/module_func_rast.py

# Ignore these folders:
Material/
images/original/
code/__pycache__/
shape/vetor_EstadosBR_LLWGS84/